<app-titulo [titulo]="titulo"></app-titulo>

<!-- Content Row -->
<div class="row">

  <div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Detalhes sobre Desenvolvedor</h6>
      </div>
      <div class="card-body">
        <h5>Experiências</h5>
        <h6>Setpar Empreendimentos (Jul 2015 - Até o momento)</h6>
        <p>Programados Sênior (Delphi e C#)</p>
        <h6>Gold System (Nov 2008 - Jul 2012)</h6>
        <p>Programados Pleno (Delphi)</p>
        <h6>Albert Gráfica (Out 2008 - Set 2008) </h6>
        <p>Programados Júnior (Delphi e Java)</p>
      </div>
    </div>
  </div>

</div>
